* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding-top: 0;
  overflow-x: hidden;
  background: #11191f;
  color: #ffff;
}

body {
  padding-top: 86px;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

main {
  margin-top: 0px;
}

.navbar {
  display: flex;
  position: absolute;
  background: #11191f;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in;
  z-index: 1000;
}

#navbar,
ul {
  margin: 2em 6em 0 0;
}

.navbar-brand {
  margin: 3em 0 3em 1em !important;
}

.menu-label {
  margin-left: 4em;
}

.navbar-toggler {
  color: lightgray;
}

.btn-custom {
  border: none;
  border-radius: 14px;
  background-image: linear-gradient(to right, #2a6dac, #112d46);
  cursor: pointer;
  display: inline-block;
  width: 206px;
  height: 43px;
  transition: background-color 0.3s;
  color: #ffff;
}

.btn-custom:hover {
  background-image: linear-gradient(to right, #007bff, #004f9f);
  color: #ffff;
}

.gradient-paragraph {
  background: linear-gradient(to left, #00ccd9, #e9eaea);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

a {
  text-decoration: none;
}

footer .row {
  display: flex;
  align-items: center;
}

footer a {
  color: #b4b2b2f1;
  text-decoration: none;
}

footer a:hover {
  color: #62dbe9;
}

#about-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: inherit;
  border: none;
  color: #e9eaea;
}

.custom-paragraph {
  font-size: 1.3rem;

}

.main-timeline {
  position: relative;
}

.main-timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #e9eaea;
  top: 25px;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline {
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -10px;
  background-color: #e9eaea;
  border: 5px solid #e9eaea;
  top: 25px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  padding: 0px 40px 20px 0px;
  left: 0;
  margin-bottom: 20px;
}

.right {
  padding: 0px 0px 20px 40px;
  left: 50%;
  margin-bottom: 20px;
}

.right::after {
  left: -14px;
}

@media screen and (max-width: 600px) {
  .main-timeline::after {
    left: 15px;
  }

  .timeline {
    width: 100%;
    padding-left: 35px;
    padding-right: 0;
  }

  .timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after,
  .right::after {
    left: 1px;
  }

  .left::before {
    right: auto;
  }

  .right {
    left: 0%;
  }
}

@media (max-width: 432px) {
  #about-page .img-fluid {
    max-width: 60%;
    margin: 0 auto;
  }

  #about-page h1 {
    text-align: center;
  }
}
