/* components/Mosaico.module.css */
.container {
  max-width: 1200px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
}

.gridItem {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.gridLarge {
  grid-row: span 3;
}

.gridTall {
  grid-row: span 3;
}

.gridMedium {
  grid-column: span 1;
}

.gridWide {
  grid-column: span 1;
}
